<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Hoja de estilos local-->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/e89bde1f7c.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.svg" alt="">
        </div>
        
        <div class="busqueda">
            <input type="text" placeholder="Buscar Productos, Marcas ...">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotasy sin tarjeta de crédito</p>
        <nav>
        <ul class="lista-superior">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
            <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="home__productos">
        <img class="banner" src="/images/banner.jpg" alt="Banner" width="100%">
        <section class="seccion__productos">
            <h4 class="seccion__productos--titulo">Basado en tu última visita</h4>
            <article class="seccion__productos--tarjeta">
                <img src="/images/cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 6.770</p>
                    <p>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
                
            </article>
            <article class="seccion__productos--tarjeta">
                <img src="/images/macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
                
            </article>
            <article class="seccion__productos--tarjeta">
                <img src="/images/samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 70.500</p>
                    <p>10% OFF</p>
                    <h5>samsung galaxy s10</h5>
                </div>
            </article>
            <article class="seccion__productos--tarjeta">
                <img src="/images/tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <h5>SmartTv Samsung 43"</h5> 
                </div>
            </article>
        </section>
        <section class="seccion__ofertas">
                <h4>Sección Ofertas</h4>
            <article class="seccion__productos--oferta">
                <img src="/images/cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%" >
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 6.770</p>
                    <p>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="seccion__productos--oferta">
                <img src="/images/macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i> 
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
                
            </article>
            <article class="seccion__productos--oferta">
                <img src="/images/samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 70.500</p>
                    <p>10% OFF</p>
                    <h5>samsung galaxy s10</h5>
                </div>
                
            </article>
            <article class="seccion__productos--oferta">
                <img src="/images/tv-samsung-smart.jpg" alt="SmartTv Samsung 43" width="100%">
                <div class="info__articulo">
                    <i class="fa-solid fa-truck"></i>
                    <p>$ 230.000</p>
                    <p>20% OFF</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
                
            </article>
        </section>
    </main>
    <footer>
        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercadolibre cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </article>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>